<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
      </div>
      <div class='alert'>Please join the room</div>
      </div>
  </div>
</div>