<div class="body">
  <%= render partial: 'left_navigation'%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="chatmain">
      <div class="main-head">
        <div class="main-index">ChatRoom</div>
      </div>
    </div>
    <%= form_with class:"message", local: true do |f| %>
      <%= f.text_field :message, class:"message-field", placeholder:"Message", autofocus: true %>
      <%= f.submit "", class:"send"%>
    <% end %>
  </div>
</div>