<header>
  <div id="header-image"></div>
  <h1 id ="logo"><a href="#">Adventure</a></h1>
  <div class="start-btn">
    <%= link_to 'Sign Up', '#', class: "signup" %>
    <%= link_to 'Sign In', '#', class: "signin" %>
  </div>
</header>