<div class="body">
  <%= render partial: 'left_navigation'%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
        <div class="main-index">RoomSearch</div>
        <div class="add-room" ><%= link_to "Add Room", new_room_path %></div>
      </div>
    <% @rooms.each do |room| %>
    <div class="room">
      <div class="room-name"> 
        <%= link_to room.title, room_path(room.id) %>
      </div>
    </div>
  <% end %>
    </div>
  </div>
</div>