<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
        <div class="main-index">RoomSearch</div>
        <% if RoomUser.find_by(user_id: current_user.id).blank? %>
        <div class="main-head-btn" ><%= link_to "Add Room", new_room_path %></div>
        <% end %>
      </div>
      <div class="room-list">
      <% @rooms.each do |room| %>
      <div class="room">
        <%= link_to room.title, room_path(room.id), class:"room-title"%>
      <div class="room-overview"><%= room.overview %></div>
    </div>
  <% end %>
  </div>
    </div>
  </div>
</div>