<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
    <div class="main">
      <div class="main-head">
        <div class="main-index">Schedule</div>
        <div class="main-head-btn" ><%= link_to "Add Schedule", new_room_schedule_path(@room) %></div>
      </div>
      <div class="main-area">
        <% @schedules.each do |schedules| %>
          <div class="schedule-container">
            <div class="schedule-date"><%= link_to schedules.date, room_schedule_path(schedules.room_id, schedules.id) %></div>
            <div class="schedule-detail"><%= schedules.detail %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>