<div class="body">
  <%= render partial: 'left_navigation', locals: { room: @room }%>
  <div class="content">
    <div class="contents-bg"></div>
        <div class="main">
      <div class="main-head">
        <div class="main-index">Todo</div>
        <div class="main-head-btn" ><%= link_to "Add Todo", new_room_todo_path(@todo) %></div>
      </div>
      </div>
  </div>
</div>